<div class="blog mdl-layout mdl-js-layout has-drawer is-upgraded">
  <main class="mdl-layout__content">
    <div class="blog__posts mdl-grid">
      <div class="mdl-card mdl-cell mdl-cell--6-col" *ngFor='let blog of blogs | slice:6' [routerLink]="['/blog', blog.Id]">
        <div>
          <div class="mdl-card__media mdl-color-text--grey-50" [style.height.px]="150">
            <h3>{{ blog.Title }}</h3>
          </div>
          <div class="mdl-color-text--grey-600 mdl-card__supporting-text">{{ blog.Summary }}</div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>{{ blog.Type }}</strong>
              <span>{{ blog.Date | date }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-list__item" [routerLink]="['/blogs']">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">BACK</button>
      </div>
    </div>
    <footer-app></footer-app>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
