<div class="blog mdl-layout mdl-js-layout mdl-layout--fixed-header has-drawer is-upgraded" *ngIf='blogs'>
  <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link" [routerLink]="['/home']">HOME</a>
        <a class="mdl-navigation__link is-active" [routerLink]="['/blog']">BLOG</a>
        <a class="mdl-navigation__link" href="http://gaxiola.info" target="_blank">FAMILY</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link" [routerLink]="['/home']">HOME</a>
      <a class="mdl-navigation__link is-active" [routerLink]="['/blog']">BLOG</a>
      <a class="mdl-navigation__link" href="http://gaxiola.info" target="_blank">FAMILY</a>
    </nav>
  </div>

  <main class="mdl-layout__content">
    <div class="blog__posts mdl-grid">
      <div *ngFor='let blog of blogs | slice:0:3' [routerLink]="['/blog', blog.Id]">
        <div class="mdl-card mdl-cell mdl-cell--12-col">
          <div [style.background-image]="'url(' + blog.ImageURL + ')'" class="mdl-card__media mdl-color-text--grey-50">
            <h3>{{ blog.Title }}</h3>
          </div>
          <div class="mdl-color-text--grey-600 mdl-card__supporting-text">{{ blog.Summary }}</div>
          <div class="mdl-card__supporting-text meta mdl-color-text--grey-600">
            <div class="minilogo"></div>
            <div>
              <strong>{{ blog.Type }}</strong>
              <span>{{ blog.Date | date }}</span>
            </div>
          </div>
        </div>
      </div>
      <div class="mdl-list__item" [routerLink]="['/blogs']">
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">MORE</button>
      </div>
    </div>
    <footer-app></footer-app>
  </main>
  <div class="mdl-layout__obfuscator"></div>
</div>
