<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header mdl-layout__header--waterfall portfolio-header">
    <div class="mdl-layout__header-row portfolio-navigation-row mdl-layout--large-screen-only">
      <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
        <a class="mdl-navigation__link is-active" [routerLink]="['/home']">HOME</a>
        <a class="mdl-navigation__link" [routerLink]="['/blog']">BLOG</a>
        <a class="mdl-navigation__link" href="http://gaxiola.info" target="_blank">FAMILY</a>
      </nav>
    </div>
  </header>
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <nav class="mdl-navigation mdl-typography--body-1-force-preferred-font">
      <a class="mdl-navigation__link is-active" [routerLink]="['/home']">HOME</a>
      <a class="mdl-navigation__link" [routerLink]="['/blog']">BLOG</a>
      <a class="mdl-navigation__link" href="http://gaxiola.info" target="_blank">FAMILY</a>
    </nav>
  </div>
  <main class="mdl-layout__content">
    <div class="mdl-grid portfolio-max-width">
      <div class="mdl-grid mdl-cell mdl-cell--12-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__media mdl-cell mdl-cell--12-col-tablet">
          <img class="article-image" src="assets/images/meta.jpg" border="0" alt="">
        </div>
        <div class="mdl-cell mdl-cell--8-col">
          <h2 class="mdl-card__title-text">En Sus Marcas, Listos, Fuera</h2>
          <div class="mdl-card__supporting-text padding-top">
            <span>Posted on April 10, 2016</span>
          </div>
          <div class="mdl-card__supporting-text no-left-padding">
            <p>Este próximo 28 de mayo 2016 una vez más, como todos los años, se llevara a cabo el paseo en bicicleta de Hermosillo
              a Bahía de Kino. En esta ocasión hago un llamado a todos los que han participado en años pasados para que participen
              de nuevo en esta ocasión. También quiero hacer un llamado a todos los que no han participado para que participen
              en esta ocasión.</p>
            <span>Read: <a [routerLink]="['/blog/20']">Full Post...</a></span>
          </div>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--6-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title">
          <h2 class="mdl-card__title-text">¿La Última Vez?</h2>
        </div>
        <div class="mdl-card__media">
          <img class="article-image" src="assets/images/blog01.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text no-bottom-padding">
          <span>Posted on April 1, 2016</span>
        </div>
        <div class="mdl-card__supporting-text">
          <p>Casi toda mi vida he estado asistiendo a reuniones familiares en un lugar u otro. Recuerdo cómo, cuando era niño,
            solíamos tener reuniones familiares en una playa llamada “El Tetuán” cerca de Culiacán Sinaloa. Años después
            las reuniones familiares eran mayormente en la casa de nuestros abuelos paternos.</p>
          <span>Read: <a [routerLink]="['/blog/19']">Full Post...</a></span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-card mdl-shadow--4dp portfolio-blog-card-full-bg  ">
        <div class="mdl-card__title mdl-card--expand "></div>
        <div class="mdl-card__actions">
          <span class="demo-card-image__filename">Pamukkale.jpg</span>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-shadow--4dp ">
        <div class="mdl-card__media">
          <img class="article-image" src="assets/images/blog03.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__supporting-text">
          <small>Almost my entire life (at least as long as I can remember) I have been attending family reunions in one place or another.</small>
        </div>
        <div class="mdl-card__supporting-text">
          <p>I remember how, as a kid, we used to get together at a beach called “El Tetuan” near Culiacan Sinaloa. A little
            later in life our family reunions were mostly at our paternal grandparent’s place. As a young adult we were having
            family reunions in the city of Guamuchil Sinaloa at a place called “El Macapule”. </p>
        </div>
      </div>
      <div class="demo-card-event mdl-cell mdl-cell--3-col mdl-cell--4-col-tablet mdl-card mdl-card mdl-shadow--4dp portfolio-blog-card-event-bg mdl-color-text--white">
        <div class="mdl-card__title mdl-card--expand">
          <h4 class="mdl-color-text--white">
            Dia de los Muertos.<br> November 1<br> Tucson, AZ
          </h4>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--5-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp">
        <div class="mdl-card__title mdl-card--expand portfolio-blog-card-strip-bg mdl-color-text--white">
          <h2 class="mdl-card__title-text">US Citizenship Test</h2>
        </div>
        <div class="mdl-card__supporting-text">
          Practice questions and answers by going to SouthToNorth.com website using a computer, a tablet, or a phone.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="http://SouthToNorth.com" class="mdl-button mdl-button--colored mdl-js-button mdl-button--accent">SouthToNorth.com</a>
        </div>
      </div>
      <div class="mdl-cell mdl-cell--4-col mdl-cell--4-col-tablet mdl-card  mdl-card mdl-shadow--4dp portfolio-blog-card-compact">
        <div class="mdl-card__media">
          <img class="article-image" src="assets/images/blog06.jpg" border="0" alt="">
        </div>
        <div class="mdl-card__title ">
          <h2 class="mdl-card__title-text">Support Your Own</h2>
        </div>
        <div class="mdl-card__supporting-text">
          I’m sure that there are plenty of family owned businesses and services in your area. Call them first and recommend them when
          you have a chance.
        </div>
        <div class="mdl-card__actions mdl-card--border">
          <a href="http://gaxiola.info/negocios.html" class="mdl-button mdl-button--colored mdl-js-button mdl-button--accent">Gaxiola Owned Businesses</a>
        </div>
      </div>
    </div>
    <footer-app></footer-app>
  </main>
</div>
